/* first example */
.container {
  background-color: DodgerBlue;
  display: flex;
}
.container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}
/* second example */
.container2 {
  background-color: DodgerBlue;
  display: flex;
  flex-direction: row;
}
.container2 div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
/* third example */
.container3 {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}
.container3 div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
/* fourth example */
.container4 {
  background-color: DodgerBlue;
  display: flex;
  flex-direction: row-reverse;
}
.container4 div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
/* fifth example */

/* sixth example */

/* seventh example */

/* eigth example */