.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.content-area {
    border-top: 3px solid black;
    border-bottom: 3px solid #000000;
}
/* Left column. */
.main-area {
    width: 66%;
    float: left;
}
/* Right column. */
.sidebar {
    width: 34%;
    float: left;
}
/* Clears float children in .content-area. */
/* .fix {
    clear: both;
} */
 
/* Standard way of clearing floated children. */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}